/* Stylesheet for ROI_Calc */


#questions {
	background-color: #808080;
}
.question-container {
	text-align: center;
	font-size: 15 pt;
	color: #ffffff;
} 

.form-group {
	font-size: 14pt;
	color: #ffffff;
	font-weight: lighter;
}

#responses {
	display: none;
	position: relative;
}

.button1 {
	background-color: #79be25;
	padding: 10px;
	text-align: center;
	border: none;
}

.button2 {
	background-color: #ffffff;
	padding: 10px;
	text-align: center;
	border: none;
}

.button3 {
	background-color: #79be25;
	padding: 10px;
	text-align: center;
	border: none;
}

.button2:hover {
	background-color: #ffffff;
}

.button2:active {
	background-color: #dcdcdc;
	box-shadow: : 0 5px #666;
	transform: translateY(2px);
}

.RFIDs {
	display: none;
}

.donate {
	display: none;
}

.Total-ROI {
	background-color: #79be25;
	background-size: 100% 100%;
	margin: 20px;
	position: relative;
	padding: 100px;
	display: none;
}

.Ticket-Sales {
	background-color: #d3d3d3;
	background-size: 100% 100%;
	margin: 20px;
	position: relative;
	padding: 100px;
	display: none;
}

.Online-Sales {
	background-color: #79be25;
	background-size: 100% 100%;
	margin: 20px;
	position: relative;
	padding: 100px;
	display: none;
}

.Email-marketing {
	background-color: #d3d3d3;
	background-size: 100% 100%;
	margin: 20px;
	position: relative;
	padding: 100px;
	display: none;
}

.subtitle {
	font-size: 10pt;
}

.automation {
	background-color: #79be25;
	background-size: 100% 100%;
	margin: 20px;
	position: relative;
	padding: 100px;
	display: none;

}

.donations {
	background-color:#d3d3d3; 
	background-size: 100% 100%;
	margin: 20px;
	position: relative;
	display: none;
	padding: 100px;
}

.Social-Media {
	background-color: #79be25;
	background-size: 100% 100%;
	margin: 20px;
	position: relative;
	padding: 100px;
	display: none;

}

.Fest-extras {
	background-color: #79be25;
	background-size: 100% 100%;
	margin: 20px;
	position: relative;
	padding: 100px;
	display: none;
}
.response-container {
	text-align: left;
}



h1 {
	font-size: 30pt;
	color: #ffffff;
	font-weight: lighter;
	text-align: center;

} 

body {
	font-family: "Open Sans";
	font-size: 16pt;
	font-weight: lighter;
}

