/* Stylesheet for ROI_Calc */


#questions {
	background-color: #696969;
}
.question-container {
	text-align: center;
	font-size: 20 pt;
	color: #ffffff;
} 

.form-group {
	font-size: 16pt;
	color: #ffffff;
}

#responses {
	display: none;
	position: relative;
}

.Total-ROI {
	background-color: #79be25;
	background-size: 100% 100%;
	margin: 20px;
	position: relative;
	padding: 100px;
	display: none;
}

.Ticket-Sales {
	background-color: #d3d3d3;
	background-size: 100% 100%;
	margin: 20px;
	position: relative;
	padding: 100px;
	display: none;
}

.Online-Sales {
	background-color: #79be25;
	background-size: 100% 100%;
	margin: 20px;
	position: relative;
	padding: 100px;
	display: none;
}

.Email-marketing {
	background-color: #d3d3d3;
	background-size: 100% 100%;
	margin: 20px;
	position: relative;
	padding: 100px;
	display: none;
}

.subtitle {
	font-size: 10pt;
}

.automation {
	background-color: #79be25;
	background-size: 100% 100%;
	margin: 20px;
	position: relative;
	padding: 100px;
	display: none;

}

.donations {
	background-color:#d3d3d3; 
	background-size: 100% 100%;
	margin: 20px;
	position: relative;
	display: none;
	padding: 100px;
}

.Social-Media {
	background-color: #79be25;
	background-size: 100% 100%;
	margin: 20px;
	position: relative;
	padding: 100px;
	display: none;

}

.Fest-extras {
	background-color: #79be25;
	background-size: 100% 100%;
	margin: 20px;
	position: relative;
	padding: 100px;
	display: none;
}
.response-container {
	text-align: left;
}



h1 {
	font-size: 30pt;
	color: #ffffff;
	font-weight: lighter;

} 

body {
	font-family: "Open Sans";
	font-size: 16pt;
	font-weight: lighter;
}

